/* MAIN */

/* SIDE-BAR */
.ms_side-bar {
    height: calc(100vh - 56px);
    background-image: url(../img/sidebar-bg.png);
    background-color: rgb(11, 35, 57);
}
.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}
.ms_center {
    width: 120px;   
}
.ms_top-bar {
    background-color: rgb(27, 114, 232);
}
.breadcrumb li span {
    background-color: rgb(22, 91, 186);
}

.ms_center {
    overflow-y: scroll;
    height: calc(100vh - 56px);
}
.ms_center-left {
    width: 60%;
}
.ms_center-right {
    width: 40%;
}



@media screen and (max-width:768px) {
    .ms_content-center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .ms_center-left {
        width: 100%;
    }
    .ms_center-right {
        width: 100%;
    }
}
