/* MAIN */

/* SIDE-BAR */
.ms_side-bar {
    height: calc(100vh - 56px);
}
.ms_center {
    width: 120px;   
}
.ms_top-bar {
    /* DEBUG */
    height: 100px;
}

.ms_center {
    overflow-y: scroll;
    height: calc(100vh - 56px);
}
.ms_center-left {
    width: 60%;
}
.ms_center-right {
    width: 40%;
}
